body {
  background-color: gray;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game-board{
 /*
  margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
  width: 340px;
  border: 50px solid #542;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.gameState{
  color:white;
  margin-left: auto;
  margin-right: auto;
}

.squareFlag{
  background: #f90;
  border: 2px solid #fc4;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareNotDiscovered{
  background: #66a;
  border: 2px solid #88c;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.squareNotDiscovered2{
  background: #aaf;
  border: 2px solid #88c;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareNull{
  background: #5c5;
  border: 2px solid #8f8;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareNearMine{
  background: #fe5;
  border: 2px solid #ff9;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.squareMine{
  background: #f00;
  border: 2px solid #f44;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}



.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.menu {
 /* margin-left: auto;
  margin-right: auto;
  alignment: center;
  border: 2px solid #88c;*/
  margin: 0 auto;
  width: 100px;
}
